<!DOCTYPE html>
<html lang="en">

<head> 

	<title>{% block title %} Techa . {% endblock title %}</title> {% include 'incs/metas.html' %} 
	{% block page_css %} {% endblock page_css %}
	
</head>

<body>

    <div id="ec-overlay"> <div class="ec-ellipsis"> <div></div> <div></div><div></div><div></div> </div></div>

    {% include 'incs/header.html' %}
    <!-- Header End  -->

    <!-- Ekka Cart Start -->
    <div class="ec-side-cart-overlay"></div>

    {% include 'incs/sidecart.html' %}

	{% block content %} {% endblock content %}

    {% include 'incs/footer.html' %}

    <!-- Modal -->
    {% include 'incs/modals.html' %}

    {% include 'incs/bottomnav.html' %}

    <!-- Vendor JS -->
    {% include 'incs/bottom_js.html' %}

	{% block page_js %} {% endblock page_js %}
</body>

</html>