{% extends 'base.html' %}
{% block title %} Brands & Shops . Salesnet.{% endblock title %}
{% block page_css %} <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" /> {% endblock page_css %}
{% block content %}

{% include 'account/breadcrumb.html' %}

<div class="section-space-p">
    <!-- Vendor list Section Start -->
    <section class="section ec-catalog-multi-vendor">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/1.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/1.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Oreva Fashion</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>9 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>568</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/2.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/2.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Marvelus</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>7 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>326</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/3.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/3.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Crazy Fabrics</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>8 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>456</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/4.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/4.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Maruti Sales</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>9 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>568</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/5.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/5.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Bonza Mart</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>7 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>854</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/6.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/4.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Ninja kart</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>8 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>658</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/7.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/2.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Apple Fabrics</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>7 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>456</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                            <img src="{{url_for('static', filename='images/common/8.jpg')}}" alt="vendor img">
                            <a href="javascript:void(0)" class="btn btn-primary">follow</a>
                            <div class="ec-vendor-card-img">
                                <img src="{{url_for('static', filename='images/vendor/1.jpg')}}" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                            <a href="catalog-single-vendor.html">
                                <h6 class="name">Miruiter cart</h6>
                            </a>
                            <p class="des">( Retail Business )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>Level</h6>
                                        <p>10 / 10</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>Products</h6>
                                        <p>423</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vendor list Section End -->

</div>

{% endblock content %}

{% block page_js %}     
<script src="{{url_for('static', filename='js/vendor/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/jquery.sticky-sidebar.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/nouislider.js')}}"></script>
<!-- Google translate Js -->
<script src="{{url_for('static', filename='js/vendor/google-translate.js')}}"></script>

<script src="{{url_for('static', filename='js/vendor/index.js')}}"></script>
<!-- <script src="{{url_for('static', filename='js/main.js')}}"></script> -->

{% endblock page_js %}