{% extends 'base.html' %}
<title>{% block title %} Account . Salesnet.{% endblock title %}</title>
{% block page_css %} <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" /> {% endblock page_css %}

{% block content %}

{% include 'account/breadcrumb.html' %}

<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            {% include 'account/sidebar.html' %}

            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ec-vendor-block-profile">

<p>
Unlock Salesnet(internet of sales). We're a market place on the internet.
Buy and sell in your community on salesnet., or shop for brand-new items delivered from stores and manufacturers globally. 
Log in to unlock the full benefits of Internet Market Place, including:
View seller profiles
List items for sale
Save and share favorite listings & items.
</p>
                                    <div class="ec-vendor-block-img space-bottom-30">
                                        <div class="ec-vendor-block-bg">
                                            <a href="#" class="btn btn-primary" data-link-action="editmodal"
                                                title="Update Chrisjames" data-bs-toggle="modal"
                                                data-bs-target="#edit_modal">Edit Detail</a>
                                        </div>
                                        <div class="ec-vendor-block-detail">
                                            <img class="v-img" src="{{url_for('static',filename='images/user/1.jpg')}}" alt="vendor image">
                                            <h5 class="name">Christopher James</h5>
                                            <p>( Business Man )</p>
                                        </div>
                                        <p>Hello <span>Mariana Johns!</span></p>
                                        <p>From your account you can easily view and track orders. You can manage and
                                            change your account information like address, contact information and
                                            history of orders.</p>
                                    </div>
                                    <h5>Account Information</h5>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                <h6>E-mail address <a
                                                        href=""
                                                        data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><i
                                                            class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Email 1 : </strong>support1@exapmle.com</li>
                                                    <li><strong>Email 2 : </strong>support2@exapmle.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                <h6>Contact nubmer<a
                                                        href=""
                                                        data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><i
                                                            class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Phone Nubmer 1 : </strong>(123) 123 456 7890</li>
                                                    <li><strong>Phone Nubmer 2 : </strong>(123) 123 456 7890</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                <h6>Address<a
                                                        href=""
                                                        data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><i
                                                            class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Home : </strong>123, 2150 Sycamore Street, dummy text of
                                                        the, San Jose, California - 95131.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address">
                                                <h6>Shipping Address
                                                    <a href="" data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><i
                                                            class="fi-rr-edit"></i></a></h6>
                                                <ul>
                                                    <li><strong>Office : </strong>123, 2150 Sycamore Street, dummy text
                                                        of
                                                        the, San Jose, California - 95131.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{% include 'incs/bottom_js.html' %}  

{% block page_js %}     
<script src="{{url_for('static', filename='js/vendor/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/jquery.sticky-sidebar.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/nouislider.js')}}"></script>
<!-- Google translate Js -->
<script src="{{url_for('static', filename='js/vendor/google-translate.js')}}"></script>

<script src="{{url_for('static', filename='js/vendor/index.js')}}"></script>
<!-- --><script src="{{url_for('static', filename='js/main.js')}}"></script> <!-- custom main-->
{% endblock page_js %}

{% endblock content %}
 

   