{% extends 'base.html' %}
{% block title %} Listing . Salesnet.{% endblock title %}
{% block page_css %} <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" /> {% endblock page_css %}
{% block content %}

{% include 'account/breadcrumb.html' %}

<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            {% include 'account/sidebar.html' %}
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-12">    

                                <div class="ec-vendor-upload-detail">    
                                    {% include('incs/alerts.html') %}
                                   
                                    <form class="row g-3" method="post"  enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}  

                                        <div class="col-md-4">
                                            <div class="ec-vendor-img-upload">
                                                <div class="ec-vendor-main-img">

                                                    <div class="avatar-upload">
                                                        <div class="avatar-edit"> 
                                                            {% if form.photo.errors %}
                                                            <div class="invalid-feedback"> {% for error in form.photo.errors %}{{ error }} ! {% endfor %}</div>
                                                            {% else %}
                                                            {{ form.photo(class="ec-image-upload rounded", onchange="uploadFile(this, '#ec-image-preview')" ) }}
                                                            <label for="photo"><i class="fi-rr-edit"></i></label>
                                                            {% endif %}
                                                        </div>
                                                        <div class="avatar-preview ec-preview">
                                                            <div class="imagePreview ec-div-preview">
                                                                <img class="ec-image-preview" id="ec-image-preview" 
                                                                src="{{url_for('static', filename='images/product-image/vender-upload-preview.jpg')}}" alt="edit">
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                    <div class="thumb-upload-set colo-md-12">
                                                        <div class="thumb-upload">
                                                            <div class="thumb-edit">
                                                                {% if form.photo0.errors %}
                                                                <div class="invalid-feedback"> {% for error in form.photo0.errors %}{{ error }} ! {% endfor %}</div>
                                                                {% else %}
                                                                {{ form.photo0(class="ec-image-upload rounded", id="photo0", onchange="uploadFile(this, '#photo0_prevw')" ) }}
                                                                <label for="photo0"><i class="fi-rr-edit"></i></label>
                                                                {% endif %}
                                                            </div>
                                                            <div class="thumb-preview ec-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview ec-image-preview" id="photo0_prevw"
                                                                    src="{{url_for('static', filename='images/product-image/vender-upload-thumb-preview.jpg')}}" alt="edit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumb-upload">
                                                            <div class="thumb-edit">
                                                                {% if form.photo1.errors %}
                                                                <div class="invalid-feedback"> {% for error in form.photo1.errors %}{{ error }} ! {% endfor %}</div>
                                                                {% else %}
                                                                {{ form.photo1(class="ec-image-upload rounded", id="photo1", onchange="uploadFile(this, '#photo1_prevw')" ) }}
                                                                <label for="photo1"><i class="fi-rr-edit"></i></label>
                                                                {% endif %}
                                                            </div>
                                                            <div class="thumb-preview ec-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview ec-image-preview" id="photo1_prevw"
                                                                    src="{{url_for('static', filename='images/product-image/vender-upload-thumb-preview.jpg')}}" alt="edit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumb-upload">
                                                            <div class="thumb-edit">
                                                                {% if form.photo2.errors %}
                                                                <div class="invalid-feedback"> {% for error in form.photo2.errors %}{{ error }} ! {% endfor %}</div>
                                                                {% else %}
                                                                {{ form.photo2(class="ec-image-upload rounded", id="photo2", onchange="uploadFile(this, '#photo2_prevw')" ) }}
                                                                <label for="photo2"><i class="fi-rr-edit"></i></label>
                                                                {% endif %}
                                                            </div>
                                                            <div class="thumb-preview ec-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview ec-image-preview" id="photo2_prevw"
                                                                    src="{{url_for('static', filename='images/product-image/vender-upload-thumb-preview.jpg')}}" alt="edit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumb-upload">
                                                            <div class="thumb-edit">
                                                                {% if form.photo3.errors %}
                                                                <div class="invalid-feedback"> {% for error in form.photo3.errors %}{{ error }} ! {% endfor %}</div>
                                                                {% else %}
                                                                {{ form.photo3(class="ec-image-upload rounded", id="photo3", onchange="uploadFile(this, '#photo3_prevw')" ) }}
                                                                <label for="photo3"><i class="fi-rr-edit"></i></label>
                                                                {% endif %}
                                                            </div>
                                                            <div class="thumb-preview ec-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview ec-image-preview" id="photo3_prevw"
                                                                    src="{{url_for('static', filename='images/product-image/vender-upload-thumb-preview.jpg')}}" alt="edit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumb-upload">
                                                            <div class="thumb-edit">
                                                                {% if form.photo4.errors %}
                                                                <div class="invalid-feedback"> {% for error in form.photo4.errors %}{{ error }} ! {% endfor %}</div>
                                                                {% else %}
                                                                {{ form.photo4(class="ec-image-upload rounded", id="photo4", onchange="uploadFile(this, '#photo4_prevw')" ) }}
                                                                <label for="photo4"><i class="fi-rr-edit"></i></label>
                                                                {% endif %}
                                                            </div>
                                                            <div class="thumb-preview ec-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview ec-image-preview" id="photo4_prevw"
                                                                    src="{{url_for('static', filename='images/product-image/vender-upload-thumb-preview.jpg')}}" alt="edit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumb-upload">
                                                            <div class="thumb-edit">
                                                                {% if form.photo5.errors %}
                                                                <div class="invalid-feedback"> {% for error in form.photo5.errors %}{{ error }} ! {% endfor %}</div>
                                                                {% else %}
                                                                {{ form.photo5(class="ec-image-upload rounded", id="photo5", onchange="uploadFile(this, '#photo5_prevw')" ) }}
                                                                <label for="photo5"><i class="fi-rr-edit"></i></label>
                                                                {% endif %}
                                                            </div>
                                                            <div class="thumb-preview ec-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview ec-image-preview" id="photo5_prevw"
                                                                    src="{{url_for('static', filename='images/product-image/vender-upload-thumb-preview.jpg')}}" alt="edit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">

                                            <div class="row">
                                            <div class="col-md-6">
                                                {{ form.name.label(class="form-label", for="name") }}
                                                {% if form.name.errors %}
                                                <div class="invalid-feedback"> {% for error in form.name.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                {{ form.name(class="form-control rounded", placeholder="Title", id="name") }}
                                                {% endif %}
                                            </div>
                                            
                                            <div class="col-md-6">
                                                {{ form.cate.label(class="form-label", for="cate") }}
                                                
                                                 <select name="categories" id="categories" required class="form-select rounded ">
                                                    {% for c in (cate|categ).items() %}
                                                    {% if c[1]['parent'] == None %}
                                                    <optgroup label="{{ c[1]['name']  }}">
                                                        {% for  s in c[1]['sub'] %}
                                                            {% if  s.parent == c[1]['id'] %}
                                                        <option value="{{s.id }}">{{s.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </optgroup>
                                                    {% endif %}
                                                    {% endfor  %}
                                                </select>

                                                {% if form.cate.errors %}
                                                <div class="invalid-feedback"> {% for error in form.cate.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                {{ form.cate(class="form-select rounded d-none", id="cate") }}
                                                {% endif %}  {# hidden, and will be updated by the select element below here #}

                                            </div>
                                            </div>

                                            <div class="col-md-12">
                                                {{ form.desc.label(class="form-label", for="desc") }}
                                                {% if form.desc.errors %}
                                                <div class="invalid-feedback"> {% for error in form.desc.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                {{ form.desc(class="form-control rounded", rows="2", id="desc") }}
                                                {% endif %}
                                            </div>

                                            <div class="row">                                           
                                                <div class="col-md-6 mb-25">
                                                {{ form.color.label(class="form-label", for="color") }}
                                                <div class="form-checkbox-box">
                                                    <div class="form-check form-check-inline">
                                                    {% if form.color.errors %}
                                                    <div class="invalid-feedback"> {% for error in form.color.errors %}{{ error }} ! {% endfor %}</div>
                                                    {% else %}
                                                    {{ form.color(type="color", class="form-check rounded form-check-inline") }} 
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>    

                                            <div class="col-md-6 mb-25">
                                                {{ form.size.label(class="form-label", for="size") }}
                                                <div class="form-checkbox-box">
                                                    <div class="form-check form-check-inline">
                                                    {% if form.size.errors %}
                                                    <div class="invalid-feedback"> {% for error in form.size.errors %}{{ error }} ! {% endfor %}</div>
                                                    {% else %}
                                                    {{ form.size(class="form-check form-check-inline rounded") }} 
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="row">
                                            <div class="col-md-6">
                                                {{ form.price.label(class="form-label", for="price") }} 
                                                {% if form.price.errors %}
                                                <div class="invalid-feedback"> {% for error in form.price.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                {{ form.price(class="form-control rounded", placeholder="what's the cost of this item", id="price") }}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.quant.label(class="form-label", for="quant") }}
                                                {% if form.quant.errors %}
                                                <div class="invalid-feedback"> {% for error in form.quant.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                {{ form.quant(class="form-control rounded", placeholder="how many do you have in stock", id="quant") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                            
                                            <div class="col-md-12 disabled">
                                                {{ form.tag.label(class="form-label", for="tag") }}
                                                {% if form.tag.errors %}
                                                <div class="invalid-feedback"> {% for error in form.tag.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                <div class="bootstrap-tagsinput">
                                                {{ form.tag(class="bootstrap-tagsinput rounded", placeholder="Help people discover your listings fast", id="tag") }}
                                                </div>
                                                <input type="text" class="form-control" id="group_tag" name="group_tag" value="" 
                                                placeholder="" data-role="tagsinput" style="display: none;">
                                                {% endif %}
                                            </div>

                                            <div id="response" class="col-md-12 alert">..</div> 

                                            <div class="col-md-12">
                                                {% if form.submit.errors %}
                                                <div class="invalid-feedback"> {% for error in form.submit.errors %}{{ error }} ! {% endfor %}</div>
                                                {% else %}
                                                {{ form.submit(class="ec-slide-disc btn btn-lg font-weight-bold text-white rounded btn-primary", id="submit") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block page_js %}     
<script src="{{url_for('static', filename='js/vendor/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/jquery.sticky-sidebar.js')}}"></script>
<script src="{{url_for('static', filename='js/plugins/nouislider.js')}}"></script>
<!-- Google translate Js -->
<script src="{{url_for('static', filename='js/vendor/google-translate.js')}}"></script>

<script src="{{url_for('static', filename='js/vendor/index.js')}}"></script>
<!-- <script src="{{url_for('static', filename='js/main.js')}}"></script> -->

<!-- <script>

$(document).ready( () => {

    $('form').submit( (e) => {

        var url = "{{url_for('acct.save_listing')}}"; // send the form data here.

        $('#response').text('Posting Ur Listing');
        $('.btn').text('Post Ur Listing').addClass('disabled');

        //alert(cate.value);

        $.ajax({
            
            type: "POST",
            url: url,
            data: $('form').serialize(), // serializes the form's elements.
            success: (response) => { 

                $('#response').html(response.response).addClass(response.flash);

                if("undefined" != typeof response.link){
                $('#response').append('<br> <a href= '+ response.link + '> Continue Here </a>' ); 
                //$('form').hide();
                }
                if("undefined" != typeof response.receipt){
                $('#response').append('<br> <a href= '+ response.receipt + '> Receipt Here</a>' ); 
                //$('form').hide();
                }

                $('#response').text('response->(' + response.response + 'flash-message (' + response.flash); 

                console.log('response->(' + response.response + 'flash-message (' + response.flash); 
            }, // display the returned data in the console.

            error: (err) => { 
                $('#response').html(JSON.stringify(err)).addClass('alert-primary').append('<br> <a href= '+ response.link + '> Continue Here </a>' );
                console.log(err); },

        });

        //$('.btn')[0].reset();
        $('.btn').removeClass('disabled');
        
        e.preventDefault(); // block the traditional submission of the form.
    });

    // Inject my CSRF token into our AJAX request.
    $.ajaxSetup({
        beforeSend: (xhr, settings) => {
        
        const categories = document.querySelector('#categories');
        const cate = document.querySelector('#cate');
        categories.addEventListener('change', () => { cate.value = categories.value; });

        console.log((cate.value));

            /* $('#cate').value = $('#categories').val()

            alert( $('form').find('#categories').val() );
            alert( $('form').find('#cate').html() ); */

            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
            }
        }
    });


//file-uploads
uploadFile = (input = '#csrf_token', ouput) => {
if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = (e) => {
        var src = e.target.result;  $(ouput).attr('src', src);
    };

    reader.readAsDataURL(input.files[0]);
}}
});

</script> -->

<script>

    $(document).ready( () => {
        
        $('form').submit( (e) => {
    
            var url = "{{url_for('acct.save_listing')}}"; // send the form data here.
    
            $('#response').text('Submitting..Quickly...');
            $('.btn').text('Submitting..Quickly...').addClass('disabled');
    
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: (response) => { 
    
                    $('#response').html(response.response).addClass(response.flash);
    
                    if("undefined" != typeof response.link){
                    $('#response').append('<br> <a href= '+ response.link + '> Continue Here </a>' ); 
                    $('form').hide();
                    }
                    if("undefined" != typeof response.receipt){
                    $('#response').append('<br> <a href= '+ response.receipt + '> Receipt Here</a>' ); 
                    $('form').hide();
                    }
                    console.log('response->(' + response.response + 'flash-message (' + response.flash); 
                }, // display the returned data in the console.
    
                error: (err) => { 
                    $('#response').html().addClass('alert-primary').append('<br> <a href= '+ response.link + '> Continue Here </a>' );
                    console.log(err); },
    
            });
    JSON.stringify(err)
            //$('.btn')[0].reset();
            
            e.preventDefault(); // block the traditional submission of the form.
        });
    
        // Inject my CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    
    
    
    
    
    //file-uploads
    uploadFile = (input = '#csrf_token', ouput) => {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
            var src = e.target.result;
            
            $(ouput).attr('src', src);
        };
        reader.readAsDataURL(input.files[0]);
    }
    }
    
    });
    
    
    </script>
{% endblock page_js %}