<div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
    <div class="ec-sidebar-wrap ec-border-box">
        <div class="ec-sidebar-block">
            <div class="ec-vendor-block">
                <div class="ec-vendor-block-bg"></div>
                <div class="ec-vendor-block-detail">
                    <img class="v-img" src="{{url_for('static', filename='images/user/1.jpg')}}" alt="vendor image">
                    <h5>Christopher James</h5>
                </div>
                <div class="ec-vendor-block-items">
                    <ul>
                        <li><a href="{{url_for('acct.me')}}">Account</a></li>
                        <li><a href="{{url_for('acct.history')}}">History</a></li>
                        <li><a href="{{url_for('acct.saved')}}">Wishlist</a></li>
                        <li><a href="{{url_for('acct.cart')}}">Cart</a></li>
                        <li><a href="{{url_for('acct.track')}}">Track Order</a></li>
                        <li><a href="{{url_for('acct.invoice')}}">Invoice</a></li>
                        <li><a href="{{url_for('acct.followed')}}">Followed</a></li>
                        <li><a href="{{url_for('acct.post')}}">Listing</a></li>
                        <li><a href="{{url_for('acct.vendor')}}">Vendor</a></li>
                        <li><a href="{{url_for('acct.shop')}}">Shop(s)</a></li>
                        <li><a href="{{url_for('acct.brand')}}">Brands</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>